<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bingo.ybd">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:networkSecurityConfig="@xml/network_security_config"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/TransparentStatusBarNoActionBar">
		<activity
			android:name=".modules.mine.activity.OrderListActivity"
			android:theme="@style/GreenStatusBarColorTheme"></activity>
		<activity
			android:name=".modules.main.activity.MainActivity"
			android:launchMode="singleTask">

		</activity>
		<activity android:name=".modules.user.activity.LoginActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".modules.user.activity.RegisterActivity"
			android:label="注册" />
		<activity
			android:name=".modules.disc.activity.ArticleDetailActivity"
			android:theme="@style/TransparentStatusBarNoActionBar">

		</activity>
		<activity android:name=".modules.main.activity.MedListActivity"></activity>
		<activity
			android:name=".modules.main.activity.MedDetailActivity"
			android:theme="@style/GreenStatusBarColorTheme">

		</activity>
		<activity
			android:name=".modules.shop.PostOrderActivity"
			android:theme="@style/GrayStatusBarColorTheme">

		</activity>

		<activity android:name=".modules.mine.activity.SupportActivity"/>

		<!-- 访问http连接 -->
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />

		<!-- 屏幕适配宽高基准 -->
		<meta-data
			android:name="design_width_in_dp"
			android:value="414" />
		<meta-data
			android:name="design_height_in_dp"
			android:value="736" />
	</application>

</manifest>